[run]
# Mide también la cobertura de ramas (if/else)
branch = True

[report]
# Ignora líneas que no tienen sentido probar
exclude_lines =
    pragma: no cover
    @abstractmethod
    pass
    class .*\(ABC\):